//This is the form that gets is entered into the layout.vtl's reserved section.
<h1>Header</h1>
<form action='/output'>
  <div class="form-group">
    <label for="user1Input"></label>
    <input id="user1Input" name="user1Input" class="form-control" type="text">
  </div>
  <button id="user1Input" type="submit" class="btn">Go!</button>
</form>
