<h1>Let's play a game!</h1>
<div class="main-content">
  <form action="/output" method="post" class="fullwidthtext">
    <div class="form-group">
      <label for="userInput">Enter some text here and I'll turn it into a puzzle for your friends.</label>
      <input id="userInput" name="userInput" class="form-control" type="text">
    </div>
    <button id="submit" type="submit" class="btn">Go!</button>
  </form>
</div>
